.tweetSubmit {
    padding-bottom: 10px;
    border-bottom: 5px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetSubmit > form {
    display: flex;
    flex-direction: column;
    
  }
  
  .tweetSubmitArea {
    padding-top: 20px;
    padding-left:20px;
    padding-right: 20px ;
    display: flex;
  }
  
  .tweetSubmitArea > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    font-family: sans-serif;
    
  }

   .share{
    display: flex;
     flex-direction: row;
     padding-left: 65px;

} 
.ttButton>button{
    background-color: var(--twitter-color) ;
    border: none ;
    color: white ;
    font-weight: 400 ;
    border-radius: 30px;
    width: 80px;
    height: 40px ;
   
    
    
}

.ttButton{
text-align: right;
padding: 10px;flex-grow: 1;
}

textarea{
  min-width: 550px;
  max-height: 50px;
  border:none;
  outline:none;
  padding-left: 10px;
  resize:none
}

.card{
  padding: 6px;
  font-size:15px;}

  .beat{
display: flex;
    flex-direction: row;
    
    
  }
  .beat>div{
    padding-right: 100px;
  }

 