#s:hover{
    background-color: rgb(216, 240, 248);
     border-radius: 32px;
     padding: 10px;
  

}


#t:hover{
    background-color: #d6e4ed;
    border-radius: 32px;
    border-width: 32px;
    inline-size: 42px;
 
}   

strong{
 text-align: middle;
 text-emphasis: inherit;
}
#d:hover{
    background-color: rgb(216, 240, 248);
     border-radius: 32px;
     padding: 10px;
     inline-size: 130px;
 
     text-align: middle;
     text-emphasis: inherit

}
