#s:hover{
    background-color: rgb(216, 240, 248);
     border-radius: 32px;
     padding: 10px;
  

}

#t:hover{
    background-color: #d8f0f8;
    border-radius: 36px;
   
    inline-size: 42px;
 
}   

strong{
 text-align: middle;
 text-emphasis: inherit;
}
#d:hover{
    background-color: rgb(216, 240, 248);
    border-radius: 32px;
    padding-left: 3px;
    inline-size: 100px;
    
}
#e:hover{
    background-color: rgb(216, 240, 248);
    border-radius: 32px;
    inline-size: 295px;
}
#f:hover{
    background-color: rgb(216, 240, 248); 
    border-radius: 16px;
    padding-left : 3px
}

