#s:hover{
    background-color: #bee6ff;
    border-radius: 30px;
    border-width: 30px;
    inline-size: 42px;
    
    

}

#d:hover{
    background-color: #bee6ff;
    
    border-radius: 30px;
    border-width: 30px;
    inline-size: auto;
    border-top: 3rem;
    
    
}