.profileCard {
  border: 1px solid var(--twitter-background);
  width: 600px !important;
  height: 100% !important;
  display: block;
  
}
.profileImage{
    width: auto;
    height: auto;
  margin-top: 140px;
  margin-left: 10px;

}

.profileImage>img {
  border: 5px solid white;
}

.profileImage>div{
  margin-top:60px;
  float:right
}
.profileImage>div>button{
  border:1px solid var(--twitter-color);
  border-radius:32px;
  color:var(--twitter-color);
  background-color: #fff;
  margin:3px;
  padding: 6px;
  font-size: 14px;
}
.profileImage>div>button:hover{
  background-color: #e8f5fe;
}


.user{
  margin-left: 15px;
}
.userinfo > span {
  display: block;
  font-size: 18px;
  color: black;
  font-weight: 900;
}
.userinfo1 > span {
  font-size: 14px;
  font-weight: 100;
  color: #5b7083;
}
.followers{
  padding:5px;
}
.profileCard-footer{
  display:flex;
  flex-direction: row;
  flex-flow: row;
   
  
 }

 

 .T-weet{
  
  padding: 20px;
  padding-left:46px;
  padding-right:46px;
 
  font-size:14px;
  font-weight: 600;
  font-family: sans-serif;
  color:#3da1f2
 
 }
 .T-weet>span{
   text-decoration: none;
   color:#5b7083
 }
 .T-weet-active>span{
  text-decoration: none;
  color:var(--twitter-color)
}
 .T-weet>span:hover{
   text-decoration: none;
   color:var(--twitter-color)
   
 }
 .T-weet-active>span:hover{
  text-decoration: none;
  color:var(--twitter-color)
}
  .T-weet:hover{
 
   background-color:#e8f5fe;
   color:var(--twitter-color)

 }
 .T-weet:hover>span{
 
 
  color:var(--twitter-color)

}
 .T-weet-active{

  width: auto;
  height: auto;
  padding: 20px;
  font-size:14px;
  padding-left:46px;
  padding-right:46px;

  font-weight: 600;
  font-family: sans-serif;
   color:var(--twitter-color);
   border-bottom:3px solid var(--twitter-color);
   
  
 }
