.top-head{
    padding:10px;
    border:1px solid black;
    display: flex;
 vertical-align:text-bottom ;
        align-content: center;

width: 600px;
    }
.body-head{
    width: 600px;
    height: 500px;
}