.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .icon:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  svg path{
    fill: #1da1f2;
  }
  }



.icon > h2 {
    font-size: 26px;
    font-weight: bolder;
    padding-left: 20px;
    
  }
  