body {
    --twitter-color: #1da1f2;
    --twitter-background: #e6ecf0;
     position: sticky;
     width: 1300px;
     left: calc(50% - 1300px/2 - 0.5px);
     top: 0px;
     bottom: 0px;
  } 


  .app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  } 
  